body{
    font-family: "Roboto", "Raleway";
    background-color: #F5F5F5;
    color: #757575;
}

.link{
    text-decoration: none;
    color: #212121;
}
.list .link:hover,
.list .link:focus{
    color: #2196F3;
}

.list{
    list-style: none;
}

a.logo{
    color: #2196F3;
}
span.logo{
    color: #000000;
}
a.logo:hover{
    color: #000000;
}
span.logo:hover{
    color: #2196F3;
}


.header-nav .link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.mailto .link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.tel .link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.hero{
    background: #2F303A;
}
.hero-title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
}
.hero-button{
        font-family: 'Roboto';
        font-style: normal;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
}

.section-title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}
.section-text{
        font-family: 'Roboto';
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
}
.work > .section-title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}
.team > .section-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

color: #212121;
}
.footer{
    background: #2F303A;
}
.footer-adress{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}
 .footer-mailto, .footer-tel{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
 }