:root{
    --primary-text-color: #757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-bg-color:#F5F5F5;
    --logo-color:#000000;
}


body{

    font-family: "Roboto", "Raleway", sans-serif;
    background-color:var(--primary-bg-color);
    color:var(--primary-text-color);
}

.link{
    text-decoration: none;
    color:var(--title-text-color);
}
.list .link:hover,
.list .link:focus{
    color:var(--accent-color)var(--accent-color);
}

.list{
    list-style: none;
}

a.logo{
    color:var(--accent-color);
}
span.logo{
    color:var(--logo-color);
}
a.logo:hover{
    color:var(--logo-color);
}
span.logo:hover{
    color:var(--accent-color);
}


.header-nav .link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--title-text-color);
}
.mailto .link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
}
.tel .link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
}
.hero{
    background: #2F303A;
}
.hero-title{
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
}
.hero-button{
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        background: #2196F3;
        color: #FFFFFF;
}

.features-title{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--title-text-color);
}
.features-text{
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color:var(--primary-text-color);
}
.work-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
}
.team{
    background: #F5F4FA;
}

.ourteam-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-title{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
}
.team-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color:var(--primary-text-color);
}
.footer{
    background: #2F303A;
}
.footer-adress{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}
 .footer-mailto, .footer-tel{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
 }
 
 .filter-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    color: var(--title-text-color);  
 }
 
 .filter-button:hover,
 .filter-button:focus{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        background: #2196F3;
        color: #FFFFFF;
 }

.projects{
    background: #FFFFFF;
}
.projects-title{
        font-weight: 700;
        font-size: 18px;
        line-height: 2.0;
        letter-spacing: 0.06em;
        background: #FFFFFF;
        color: var(--title-text-color);
}
.projects-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        background: #FFFFFF;
        color:var(--primary-text-color);
}